APP_ENV=local
APP_NAME=trx-core-svc
APP_PORT=5000
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=db_to_do
DB_PORT=5432
DB_DRIVER_NAME=mysql
DB_MAX_CONNECTION_OPEN=20
DB_MAX_CONNECTION_IDLE=20
DB_TIMEZONE=Asia/Jakarta
DB_MAX_RETRIES=20
